.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.flag {
  position: absolute;
  right: 1rem;
  top: 2.7rem;
  font-size: 2.8rem;
}

.form.loading {
  opacity: 0.3;
}

.form.loading button {
  pointer-events: none;
  background-color: var(--color-light--1);
  border: 1px solid var(--color-light--1);
  color: var(--color-dark--0);
}

:global(.react-datepicker) {
  font-family: inherit;
  font-size: 1.6rem !important;
  transform: scale(1.2);
  transform-origin: top left;
}

:global(.react-datepicker__day),
:global(.react-datepicker__day-name) {
  width: 3rem !important;
  line-height: 3rem !important;
  margin: 0.4rem !important;
  font-size: 1.4rem !important;
}

:global(.react-datepicker__current-month) {
  font-size: 1.6rem !important;
}

:global(.react-datepicker__navigation-icon::before) {
  font-size: 20px !important;
}

:global(.react-datepicker-popper) {
  width: fit-content !important;
}

/* Important when scaling */
:global(.react-datepicker__month-container) {
  float: none !important;
}
